<!-- ========== USER NAVBAR ========== -->

<header *ngIf="isAdminLoggedIn"
    class=" flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-2 bg-blue-900" >
    <nav
        class="relative max-w-l w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-8 mx-auto">
        <div class="md:col-span-2">
            <!-- Logo -->
            <a
                class="mt-1 rounded-xl text-2xl text-white cursor-pointer font-semibold ml-0"
                aria-label="youness"> E - C O M M E R C E
                <!-- <img src="assets/images/PORT8.png" alt="" width="" height=""> -->
            </a>
            <!-- End Logo -->
        </div>

        <!-- Collapse -->
        <div id="hs-navbar-hcail"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow ml-20 md:block md:w-auto md:basis-auto md:order-2 md:col-span-8"
            aria-labelledby="hs-navbar-hcail-collapse">
            <div
                class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-8 md:mt-0">
                <div>
                    <a class="relative inline-block text-white "
                        routerLink="/home" aria-current="page">Home</a>
                </div>

                <div>
                    <a class="relative inline-block text-white "
                        routerLink="/admin/dashboard" aria-current="page">Admin Dashboard</a>
                </div>

                <div>
                    <button (click)="logout()" routerLink="/signin" type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-blue border border-red-500 text-white hover:bg-red-800 hover:text-white focus:outline-none focus:bg-blue-900 disabled:opacity-50 disabled:pointer-events-none "
                        >
                        Log out
                    </button>
                </div>

                <div class="ml-32">
                    <!-- Dropdown -->
                    <div
                        class="hs-dropdown [--placement:bottom-right] relative inline-flex">
                        <button id="hs-dropdown-account" type="button"
                            class="size-[38px] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-white"
                            aria-haspopup="menu" aria-expanded="false"
                            aria-label="Dropdown">
                            <!-- <img class="shrink-0 size-[38px] rounded-full" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar"> -->
                            <img class="shrink-0 size-[38px] rounded-full"
                                src="assets/images/YOUNESS.png" alt>

                        </button>
                    </div>

                    <!-- End Dropdown -->

                </div>
            </div>
        </div>
    </nav>
</header>



<!-- ========== ADMIN NAVBAR ========== -->

<header *ngIf="isUserLoggedIn"
    class=" flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-2 bg-blue-900" >
    <nav
        class="relative max-w-l w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-8 mx-auto">
        <div class="md:col-span-2">
            <!-- Logo -->
            <a
                class="mt-1 rounded-xl text-2xl text-white cursor-pointer font-semibold ml-0"
                aria-label="youness"> E - C O M M E R C E
                <!-- <img src="assets/images/PORT8.png" alt="" width="" height=""> -->
            </a>
            <!-- End Logo -->
        </div>

        <!-- Collapse -->
        <div id="hs-navbar-hcail"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow ml-20 md:block md:w-auto md:basis-auto md:order-2 md:col-span-8"
            aria-labelledby="hs-navbar-hcail-collapse">
            <div
                class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-8 md:mt-0">
                <div>
                    <a class="relative inline-block text-white "
                        routerLink="/home" aria-current="page">Home</a>
                </div>

                <div>
                    <a class="relative inline-block text-white "
                        routerLink="/user/dashboard" aria-current="page">User Dashboard</a>
                </div>

                <div>
                    <button routerLink="/signin" type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-blue border border-red-500 text-white hover:bg-red-800 hover:text-white focus:outline-none focus:bg-blue-900 disabled:opacity-50 disabled:pointer-events-none "
                        (click)="logout()">
                        Log out
                    </button>
                </div>

                <div class="ml-32">
                    <div
                        class="hs-dropdown [--placement:bottom-right] relative inline-flex">
                        <button id="hs-dropdown-account" type="button"
                            class="size-[38px] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-white"
                            aria-haspopup="menu" aria-expanded="false"
                            aria-label="Dropdown">
                            <!-- <img class="shrink-0 size-[38px] rounded-full" src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" alt="Avatar"> -->
                            <img class="shrink-0 size-[38px] rounded-full"
                                src="assets/images/YOUNESS.png" alt>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>







<!-- ========== AUTH NAVBAR ========== -->

<header
    class=" flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-2 bg-blue-900" *ngIf="!hasToken">
    <nav
        class="relative max-w-l w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-8 mx-auto">
        <div class="md:col-span-2">
            <!-- Logo -->
            <a
                class="mt-1 rounded-xl text-2xl text-white cursor-pointer font-semibold ml-0"
                aria-label="youness"> E - C O M M E R C E
                <!-- <img src="assets/images/PORT8.png" alt="" width="" height=""> -->
            </a>
            <!-- End Logo -->
        </div>

        <!-- Collapse -->
        <div id="hs-navbar-hcail"
            class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow ml-20 md:block md:w-auto md:basis-auto md:order-2 md:col-span-8"
            aria-labelledby="hs-navbar-hcail-collapse">
            <div
                class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-8 md:mt-0">
                <div>
                    <a class="relative inline-block text-white "
                        routerLink="/home" aria-current="page">Home</a>
                </div>

                <div>
                    <button routerLink="/signin" type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-blue border border-gray-200 text-white hover:bg-white hover:text-blue-900 focus:outline-none focus:bg-blue-900 disabled:opacity-50 disabled:pointer-events-none ">
                        Sign in
                    </button>
                </div>

                <div>
                    <button routerLink="/signup" type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl bg-blue border border-gray-200 text-white hover:bg-white hover:text-blue-900 focus:outline-none focus:bg-blue-900 disabled:opacity-50 disabled:pointer-events-none ">
                        sign up
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>